@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Edgar Quinet 4-6<br />
    Bucuresti, Romania<br />
    <abbr title="Telefon">P:</abbr>
    0726859560
</address>

